static/fp-910-final.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://rep.oio.dk/sundcom.dk/medcom.dk/xml/schemas/2018/06/25/">
  <xs:element name="DenDynamiskeBlanket">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Form">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Identifier" />
              <xs:element name="CaseIdentifier" />
              <xs:element name="SentDateTime" />
              <xs:element name="TypeCode" />
              <xs:element name="VersionCode" type="xs:string" />
              <xs:element name="StatisticalCode" />
              <xs:element name="EndpointId" />
              <xs:element name="VendorCollection">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="VendorUUID">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="UUID" type="xs:string" />
                          <xs:element name="Comment" type="xs:string" />
                          <xs:element name="VendorId" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="RespondentDeadline" type="xs:string" />
              <xs:element name="PersonAttendanceRequired" type="xs:string" />
              <xs:element name="InvoiceInformation">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="RekvirentInvoiceEANIdentifier" />
                    <xs:element name="RekvirentInvoiceOrderNumber" />
                    <xs:element name="RekvirentInvoiceOrganisationName" />
                    <xs:element name="RekvirentInvoiceCVRNumber" />
                    <xs:element name="RekvirentInvoicePersonName" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Rejection">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ReasonCode" />
                    <xs:element name="ReasonText" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="PageStock" type="xs:string" />
              <xs:element name="Graphics">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Page" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Rectangle" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:attribute name="x" use="required" />
                              <xs:attribute name="y" use="required" />
                              <xs:attribute name="w" use="required" />
                              <xs:attribute name="h" use="required" />
                              <xs:attribute name="fillcolor" use="required" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="StaticText" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute name="x" use="required" />
                                  <xs:attribute name="y" use="required" />
                                  <xs:attribute name="w" use="required" />
                                  <xs:attribute name="font_name" use="required" fixed="Arial" />
                                  <xs:attribute name="font_size" use="required">
                                    <xs:simpleType>
                                      <xs:restriction base="xs:string">
                                        <xs:enumeration value="10pt" />
                                        <xs:enumeration value="11pt" />
                                        <xs:enumeration value="16pt" />
                                        <xs:enumeration value="6pt" />
                                        <xs:enumeration value="7pt" />
                                        <xs:enumeration value="8pt" />
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:attribute>
                                  <xs:attribute name="font_weight">
                                    <xs:simpleType>
                                      <xs:restriction base="xs:string">
                                        <xs:enumeration value="bold" />
                                        <xs:enumeration value="italic" />
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:attribute>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="DataRef" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Data">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="DataOwner" type="xs:string" />
                                      <xs:element name="Name" type="xs:string" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="x" use="required" />
                              <xs:attribute name="y" use="required" />
                              <xs:attribute name="w" use="required" />
                              <xs:attribute name="h" use="required">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:enumeration value="1275twips" />
                                    <xs:enumeration value="203twips" />
                                    <xs:enumeration value="284twips" />
                                    <xs:enumeration value="306twips" />
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute name="font_name" use="required" fixed="Arial" />
                              <xs:attribute name="font_size" use="required">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:enumeration value="6pt" />
                                    <xs:enumeration value="7pt" />
                                    <xs:enumeration value="8pt" />
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute name="font_weight">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:enumeration value="bold" />
                                    <xs:enumeration value="italic" />
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="number" type="xs:integer" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Data">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="UserFields">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="FieldGroup">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="FieldX" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:sequence minOccurs="0">
                                      <xs:element name="TextEdit" minOccurs="0">
                                        <xs:complexType>
                                          <xs:attribute name="name" type="xs:ID" use="required" />
                                          <xs:attribute name="dataowner" use="required"
                                            fixed="adata" />
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="DateEdit" minOccurs="0">
                                        <xs:complexType>
                                          <xs:attribute name="name" use="required" />
                                          <xs:attribute name="dataowner" use="required"
                                            fixed="adata" />
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="RadioButtons" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="RadioButtonX" maxOccurs="unbounded">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute name="name" type="xs:ID"
                                                      use="required" />
                                                    <xs:attribute name="dataowner" use="required"
                                                      fixed="adata" />
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute name="name" use="required" />
                                          <xs:attribute name="dataowner" use="required"
                                            fixed="adata" />
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="CheckBoxes" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="CheckBoxX" maxOccurs="unbounded">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute name="name" use="required" />
                                                    <xs:attribute name="dataowner" use="required" />
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute name="name" use="required" />
                                          <xs:attribute name="dataowner" use="required" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="showFirst" type="xs:integer" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>